.date h4 {
  font-size: 1em;
  margin: 0 -15px;
  background-color: lightgray;
}

.slot {
  margin: 0 -10px;
}

.date {
  border: solid gray 1px;
}

.past {
  opacity: 0.3;
}

.bullet {
  font-size: 2em;
  vertical-align: middle;
  line-height: 1em;
  color: orange;
}

.login-button {
  margin-bottom: 3px;
}

.delete {
  color: red;
}

.full .bullet {
  color: green;
}

.empty .bullet {
  color: red;
}
