{% extends "base.html" %}
{% block content %}
<h2>Calendar</h2>
<div class="row">
  {% for morning_event in object_list %}
  <div class="date col-sm {{morning_event.klasses}}">
    {% for event in morning_event.events_on_same_day %}
      {% if forloop.first %}<h4 class="date-header"><span class="bullet">&bull;</span>{{ event.date|date:"D d M" }}</h4>{% endif %}
      <dl>
        <dt>{{ event.get_slot_display }}</dt>
        <dd>
          {% for helper in event.helpers.all %}
            {{ helper }}
            {% if helper == LOGGED_IN_HELPER %}
              <a href="{% url 'event-unclaim' pk=event.pk %}"><span class="delete">🗙</span></a>
            {% endif %}
            <br>
          {% endfor %}

         {% if LOGGED_IN_HELPER not in event.helpers.all %}
            <a href="{% url 'event-claim' pk=event.pk %}">go</a>
         {% endif %}
      </dd>
      </dl>
    {% endfor %}
  </div>
  {% if morning_event.is_sunday %}</div><div class="row">{% endif %}{% endfor %}
</div>
{% endblock %}
