{% extends "base.html" %}

{% block content %}
<h2>Schedule for {{ HELPER.name }}</h2>
{% if object_list %}
  <ul>
    {% for event in object_list %}
      <li>
        <span class="helper-row">
        {{ event.date|date:"D d M" }}:
        {{ event.get_slot_display }}
        {% for helper in event.helpers.all %}
          {% if helper == LOGGED_IN_HELPER %}
            <a class="adder" data-action="hide" href="{% url 'event-unclaim' pk=event.pk %}?came_from={{ request.path|urlencode }}"><span class="delete">🗙</span></a>
          {% endif  %}
        {% endfor %}
        </span>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>{% if HELPER and HELPER == LOGGED_IN_HELPER %}You've not{% else %}{{ HELPER.name }} hasn't {% endif %} signed up for any slots yet. <a href="{% url 'event-list' %}">Visit the calendar</a> to do so.

{% endif %}

{% endblock %}
