{% load static %}
{% url 'event-list' as events_list_url %}
{% url 'helper-list' as helper_list_url %}
{% url 'helper-schedule' as helper_schedule_url %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "main.css" %}">
    <title>Visiting schedule</title>
  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.path == events_list_url %}active{% endif %}">
        <a class="nav-link" href="{% url 'event-list' %}">View calendar<span class="sr-only">(current)</span></a>
      </li>
      {% if LOGGED_IN_HELPER %}
      <li>
        <a class="nav-link {% if request.path == helper_schedule_url %}active{% endif %}" href="{% url 'helper-schedule' helper=request.session.helper %}">See my schedule</a>
      </li>
      <li>
        <a class="nav-link" href="{% url 'helper-logout' %}">Log out {{ LOGGED_IN_HELPER.name }}</a>
      </li>
      {% else %}
      <li>
        <a class="nav-link {% if request.path == helper_list_url %}active{% endif %}" href="{% url 'helper-list' %}">Log in</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
